move_group:
  ros__parameters:
    moveit_simple_controller_manager:
      controller_names:
        - denso_joint_trajectory_controller

      denso_joint_trajectory_controller:
        action_ns: follow_joint_trajectory
        type: FollowJointTrajectory
        default: true
        joints:
          - left_joint_1
          - left_joint_2
          - left_joint_3
          - left_joint_4
          - left_joint_5
          - left_joint_6
