move_group:
  ros__parameters:
    moveit_simple_controller_manager:
      controller_names:
        - denso_joint_trajectory_controller

      denso_joint_trajectory_controller:
        action_ns: follow_joint_trajectory
        type: FollowJointTrajectory
        default: true
        joints:
          - right_joint_1
          - right_joint_2
          - right_joint_3
          - right_joint_4
          - right_joint_5
          - right_joint_6
